.App {
  padding: 20px;
  border: 1px solid #dadde1;
  background: linear-gradient(
    111.5deg,
    rgb(228, 247, 255) 21.9%,
    rgb(255, 216, 194) 92.2%
  );
}

h1 {
  text-align: center;
  font-size: 55px;
}

h2 {
  text-align: center;
  font-size: 25px;
}

.icon {
  text-align: center;
  margin-top: 20px;
  left: 150px;
}

.celsius {
  font-size: 20px;
  left: 270px;
  top: 35px;
}
.temp {
  font-size: 30px;
  text-align: center;
}
.weather-info {
  font-size: 18px;
  text-align: center;
}

li {
  list-style: none;
}

.description {
  font-weight: bold;
}

.weather-forecast {
  text-align: center;
  font-size: 25px;
  color: #d0d0d7;
  margin-top: 20px;
}

.search-bar .search-input {
  position: absolute;
  text-align: center;
  height: 30px;
  width: 200px;
  background: #f9f7fe;
  border: none;
  border-radius: 6px;
  color: rgba(39, 33, 66, 0.4);
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  padding: 20px 20px;
}

.search-form {
  top: 40px;
  left: 550px;
  font-size: 16px;
}

.weather-forecast {
  top: 390px;
  margin-top: 20px;
  text-align: center;
  color: #000;
  left: 250px;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

.btn-primary {
  left: 180px;
  top: 38px;
  padding: 10px;
}

.weather-forecast-date {
  font-size: 18px;
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 16px;
}

.weather-forecast-temperature-max {
  opacity: 0.8;
  font-weight: bold;
  color: #000;
}

footer {
  color: black;
  font-size: 15px;
  line-height: 18px;
  margin-top: 40px;
  top: 548px;
  left: 250px;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  padding-left: 140px;
  padding-right: 140px;
}

.container {
  padding: 20px;
  border: 1px solid #dadde1;
  background: linear-gradient(
    111.5deg,
    rgb(228, 247, 255) 21.9%,
    rgb(255, 216, 194) 92.2%
  );
}
