.Weather {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border: 1px solid black;
  padding: 16px;
  border-radius: 8px;
  color: black;
}

.Weather h1 {
  font-weight: bold;
  font-size: 24px;
  font-weight: 100;
  margin: 20px 0 0 0;
  line-height: 29px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather .temperature {
  font-weight: bold;
  color: black;
  font-size: 64px;
  line-height: 60px;
  font-weight: 400;
  top: 5px;
  left: 20px;
  position: relative;
}

.Weather .units {
  color: black;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -27px;
  margin-left: 20px;
  line-height: 1;
}

.Weather canvas {
  position: relative;
  margin-left: 22px;
}
